<extend name="Public/base" />
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>系统配置 - 网站设置</legend>
        <div class="layui-field-box">
            <form class="layui-form" action="" enctype="multipart/form-data">

                <input type="hidden" name="id" value="{$config['id']}">

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 网站备案号</label>
                    <div class="layui-input-block">
                        <input type="text" name="record_no" required value="{:(isset($config['record_no'])?$config['record_no']:'')}" lay-verify="required" placeholder="网站备案号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 网站名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="site_name" required value="{:(isset($config['site_name'])?$config['site_name']:'')}" lay-verify="required" placeholder="网站名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 网站地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="site_url" required value="{:(isset($config['site_url'])?$config['site_url']:'')}" lay-verify="required" placeholder="网站地址" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 网站标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="site_title" required value="{:(isset($config['site_title'])?$config['site_title']:'')}" lay-verify="required" placeholder="网站标题" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 网站关键字</label>
                    <div class="layui-input-block">
                         <input type="text" name="site_key" required value="{:(isset($config['site_key'])?$config['site_key']:'')}" lay-verify="required" placeholder="网站关键字" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 网站描述</label>
                    <div class="layui-input-block">
                        <textarea rows="7" cols="80" class="site_desc"  name="site_desc" required value="{:(isset($config['site_desc'])?$config['site_desc']:'')}" lay-verify="required" placeholder="网站描述" >{:(isset($config['site_desc'])?$config['site_desc']:'')}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span> 网站logo</label>
                    <div class="layui-input-block">
                        <input type="file" name="file" id="uploadFile" class="layui-upload-file">
                        <input type="text" name="site_logo" id="image_path" style="border: none; width: 0" lay-verify="required">
                        <img src="" style = "width:200px;" id="image">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="admin-form">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</block>
<block name="myScript">
    <script>
        var host = window.location.host;
        var imageObj = $("#image");
        var image_path = '{$config["site_logo"]}';
        if (image_path != ''){
            imageObj.attr('src','http://'+host+'/'+image_path);  //
        }

        $("#image_path").val(image_path);


        layui.use('upload', function(){
            var options = {
                elem: '#uploadFile',
                url: '/Admin/Upload/index',
                ext: 'jpg|png|jpeg',
                success: function(res){
                    console.log(res); //上传成功返回值，必须为json格式
                    imageObj.show();
                    imageObj.attr('src','http://'+host+'/'+res.image_path);
                    $("#image_path").val(res.image_path);
                }
            };
            layui.upload(options);
        });

            layui.use('form', function(){
                var form = layui.form();
                form.on('submit(admin-form)', function(data){
                    $.ajax({
                        type: "POST",
                        url: '{:U("save")}',
                        data: data.field,
                        success: function(msg){
                            if( msg.code == 1 ){
                                document.location.reload();
                            }else{
                                parent.layer.msg(msg.msg, {
                                    icon: 5,
                                    shade: [0.6, '#393D49'],
                                    time:1500
                                });
                            }
                        }
                    });
                    return false;
                });

            });
     </script>
    <style>
        .site_desc{
            padding-left: 10px;
            border: 1px solid #e6e6e6;
        }
    </style>

</block>